*{
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: grey;
}

#items{
	display: flex;
<<<<<<< HEAD:css/Style_Chal_doNotuse.css
	flex-direction: row;
=======
	justify-content: space-around;
	flex-wrap: wrap;
>>>>>>> 4ab53f3a1f79d0ec951322da06d4182ee2f23219:css/Style_Chal.css
}

#item{

	width: 400px;
	height: 400px;
}

#item img{

	width: 100px;
	height: 100px;
}