*{
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: grey;
}

#items{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#item{

	width: 400px;
	height: 400px;
}

#item img{

	width: 100px;
	height: 100px;
}